*{
    box-sizing: border-box;
    text-decoration: none;
}
html{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 400px;
}
nav{
    display: flex;
    position: relative;
    padding: 6px;
align-items: center;
justify-content: end;
top: 0;
left: 0;
width:100%;
height: 50px;
z-index: 10;
}
nav ul{
}
nav ul li{
    display: inline-block;
    min-width: auto;
text-decoration: none;
list-style: none;
padding: 0 4px;
line-height: normal;
}
nav ul li a{
text-decoration: none;
color: black;
padding: 0 4px;
}
nav ul li a:hover{
    border-bottom:1px solid black;
    cursor:pointer;
    line-height: normal;
}
#nav-img-1{
    display: block;
    padding: 2px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 5px;
}
#nav-img-2{
    display: block;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: 5px;
}
#nav-img-1:hover{
    cursor: pointer;
    background: #f2f2f2;
    border-radius: 50%;
}
#nav-img-2:hover{
    cursor: pointer;
    background: #f2f2f2;
    border-radius: 50%;
}
body{
background: #fff;
font-family: arial,sans-serif;
font-size: 14px;
}
.everything{
    display: flex;
    flex-direction: column;
    height: 100%;

}
.label{
    text-align: center;
}
.container{
    padding: 20px;
    max-height: 160px;
    font-size: 14px;
    color:#222;
    font-family: Arial, sans-serif;
}
.container1{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
width: 100%;
height: 700px;
}
.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0;
    height: 70px;

}
   .btn{
       margin: 11px 4px;
       font-size: 14px;
       border-radius: 4px;
       border: 1px solid #f8f9fa;
       max-width: 200px;
       padding: 5px;
       border:none;
       cursor: pointer;
       background: #f8f9fa;
       text-align: center;
       min-width: 54px;
       line-height: 27px;
       height: 36px;
   }
   .btn:hover{
border: 1px solid grey;
   }
   .search-bar{
       margin: 20px;
       
   }
   #search-bar{
       background: transparent;
       max-width: 400px;
       width: 550px;
       height: 40px;
       border-radius: 20px;
   }
   #search-bar:hover{
       box-shadow:0 2px 2px 0 grey;
   }
#footer{
    position: absolute;
display: flex;
flex-wrap: wrap;
width: 100%;
background-color: #f2f2f2;
flex-shrink: 0;
left: 0;
bottom: 0;
right: 0;
justify-content: space-between;


}
@media only screen and (max-width:1200px){
    .footer-links{
        justify-content: space-evenly;
    }
}
.footer-language{
    border-bottom: 1px solid  #dadce0 ;
    padding: 0 30px;
    width: 100%;
    color:rgba(0,0,0,.54);
    font-size: 15px;
    height: 60px;
}

.footer-language p{
}
.footer-links{
    display:flex;
    background-color: #f2f2f2;
    width: 100%;
    
}
.footer-links ul{

}
.footer-links ul li{
    display: inline-block;
    
}
.footer-links ul li a{
    color:rgba(0,0,0,.54);
    text-decoration: none;
    padding: 15px;
    white-space: nowrap;
    font-size: 14px;
}
.footer-links ul li a:hover{
    border-bottom:1px solid black;
    list-style: none;
}